<ul class="collection">
    <li class="collection-item" id="brightbulb">
        <p class="red-text text-darken-1">This is currently under development.</p>
        <h5 class="light section">BrightBulb</h5>
        <div class="chip">Python</div>
        <div class="chip">Django</div>
        <p>
            A RESTful API with user authentication and authorization.
        </p>
        <div class="section">
            <h6>How to access:</h6>
            <table class="responsive-table">
                <thead>

                </thead>

                <tbody>
                <tr>
                    <th>Description</th>
                    <th>Request method</th>
                    <th>URL</th>
                    <th>Form data</th>
                </tr>
                <tr>
                    <td><b class="red-text text-darken-2">Get auth token</b></td>
                    <td><b class="orange-text text-darken-2">POST</b></td>
                    <td><a href="https://treetrails.herokuapp.com/brightbulb/auth/">
                        https://treetrails.herokuapp.com/brightbulb/auth/</a></td>
                    <td>
                                <pre class="grey-text text-darken-2">{
    'username':'',
    'password':'',
}</pre>
                    </td>
                </tr>
                <tr>
                    <td>Get all users</td>
                    <td><b class="green-text text-darken-2">GET</b></td>
                    <td><a href="https://treetrails.herokuapp.com/brightbulb/users/">
                        https://treetrails.herokuapp.com/brightbulb/users/</a></td>
                    <td><pre class="grey-text text-darken-2">{}</pre></td>
                </tr>
                <tr>
                    <td>Add new user</td>
                    <td><b class="orange-text text-darken-2">POST</b></td>
                    <td><a href="https://treetrails.herokuapp.com/brightbulb/users/">
                        https://treetrails.herokuapp.com/brightbulb/users/</a></td>
                    <td>
                                <pre class="grey-text text-darken-2">{
    'username':'',
    'password':'',
    'email':'',
}</pre>
                    </td>
                </tr>
                <tr>
                    <td>Get a user</td>
                    <td><b class="green-text text-darken-2">GET</b></td>
                    <td><a href="https://treetrails.herokuapp.com/brightbulb/users/tushar">
                        https://treetrails.herokuapp.com/brightbulb/users/<span class="red-text text-darken-2">username</span>
                    </a></td>
                    <td>
                        <pre class="grey-text text-darken-2">{}</pre>
                    </td>
                </tr>
                <tr>
                    <td>Update a user</td>
                    <td><b class="blue-text text-darken-2">PUT</b></td>
                    <td><a href="https://treetrails.herokuapp.com/brightbulb/users/tushar">
                        https://treetrails.herokuapp.com/brightbulb/users/<span class="red-text text-darken-2">username</span>
                    </a></td>
                    <td>
                                <pre class="grey-text text-darken-2">{
    'username':'',
    'password':'',
    'email':'',
}</pre>                            </td>
                </tr>
                <tr>
                    <td>Delete a user</td>
                    <td><b class="red-text text-darken-2">DELETE</b></td>
                    <td><a href="https://treetrails.herokuapp.com/brightbulb/users/tushar">
                        https://treetrails.herokuapp.com/brightbulb/users/<span class="red-text text-darken-2">username</span>
                    </a></td>
                    <td>
                        <pre class="grey-text text-darken-2">{}</pre>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </li >
</ul>
