{% load staticfiles static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>treetrails.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script	  src="https://code.jquery.com/jquery-3.3.1.min.js"
                 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                 crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

<nav class="nav-extended white z-depth-0">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><b class="grey-text text-darken-2">treetrails<span class="blue-text">.</span></b></a>
        </div>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><h6 class="grey-text">Tushar Srivastava</h6></a>
        </div>
    </div>
</nav>
<br>

<main>
    <div class="container">
        {% block main %}{% endblock %}
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'js/init.js' %}"></script>
</body>
</html>
