    <ul class="collection">
        <li class="collection-item" id="weatherforecast">
            <p class="red-text text-darken-1">This is currently under development.</p>
            <h5 class="light section">Weather Forecast</h5>
            <div class="chip">Python</div>
            <div class="chip">Pandas</div>
            <div class="chip">Scikit-Learn</div>
            <p>
                A trained machine learning model that makes temperature predictions for <b>New Delhi</b>.
            </p>
            <div class="section">
                <h6>How to access:</h6>
                <table class="responsive-table">
                    <tbody>
                    <tr>
                        <th>Description</th>
                        <th>Request method</th>
                        <th>URL</th>
                    </tr>
                    <tr>
                        <td>Get minimum, maximum and average temperature</td>
                        <td><b class="green-text text-darken-2">GET</b></td>
                        <td><a href="https://treetrails.herokuapp.com/machinelearning/weatherforecast/2019-04-05/">
                            https://treetrails.herokuapp.com/machinelearning/weatherforecast/<span class="red-text text-darken-2">2019-04-05</span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
